body {
	background: #e6e6e6;
	color: #333;
}

a {
	color:#356de4;
	text-decoration:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
a:hover {
	text-decoration:underline;
}

.tag {
	padding:4px 8px;
	background:#e0e0e0;
	border-radius:4px;
	color:#999;
	font-size:80%;
	margin-right:5px;
}

li .tag {
	float:left;
	border-radius:20px;
	overflow:hidden;
	text-indent:-9999em;
	width:14px;
	height:14px;
	margin:2px 8px 0 0;
	padding:0;
	display:inline-block;
}

ul.dependencies {
	list-style:none;
	padding-left:20px;
}

.tag.server {
	background:#FFE194;
	color:#C29B00;
}

.tag.client {
	background:#B0E3EC;
	color:#208F99;
}

article ul {
	line-height:1.6;
}

header {
	padding: 0 15px 16px 20px;
	background-color:#396EA0;
	margin-bottom:20px;
	display:block;
}
header h1  {
	font-size: 100%;
	margin:0 auto;
	max-width:900px;
	padding:10px 0 0 0;
	
}
header h1 .title {
	font-size:200%;
	color:#fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight:300;
}
header h1 a.git {
	float:right;
	color:#fff;
	font-size:200%;
	display:block;
	height:40px;
	width:40px;
	margin-top:5px;
	color:#2D4568;
}
header h1 a.git:hover
{
	color:#fff;
	text-decoration:none;
}
header img {
	margin-top:15px;
}

nav, article {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

nav {
	width:100%
}

nav ul {
	margin:0;
	padding:0;
	list-style:none;
}

nav .description {
	display:block;
	font-weight:normal;
	font-size:80%;
	color:#999;
}

nav ul li.library {
	margin-bottom:10px;
	font-weight:bold;
	width:25%;
	float:left;
	height:150px;
	position:relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px;
}
nav ul ul {
	position:absolute;
	bottom:0;
	left:10px;
	right:10px;
}
nav ul ul li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	width:50%;
	margin-top:5px;
	text-align:center;
	font-weight:normal;
}
nav a {
	color:#797979;
	background:#DADADA;
	float:left;
	display:block;
	padding:10px 0;
	border-radius:4px;
	font-size:140%;
	width:100%;
	border-bottom: 2px solid #C0C0C0;
}

nav .src {
	padding-right:2px;
}
nav .src {
	padding-left:2px;
}

nav a:active,
nav a:hover {
	background:#356de4;
	color:#fff;
	text-decoration:none;
	border-color:#2D4568;
}

nav a:active {
	border-bottom:0;
	border-top:2px solid #2D4568;
}

article {
	margin-bottom:20px;
	margin-left:220px;
}

h2 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size:160%;
	font-weight: 300; 
	padding: 0 0 10px;
	margin: 15px 0 25px;
	line-height: 1;
	border-bottom: 1px solid #ccc;
}

h2:first-letter {
	color:#999;
	padding-right:10px;
}

#frame {
	margin: 0 auto;
	max-width:900px;
	padding:0 1em 1em;
}

.content {
	position:relative;
	background: #fff;
	padding: 1em;
	border: 1px solid #c3c3c3;
}

.copyright {
	padding-top:20px;
	text-align:center;
	color:#999;
	font-size:90%;
}

.copyright a {
	color:#666;
}

h3 {
	font-size:120%;
	font-family:'Open Sans', Helvetica, sans-serif;
	font-weight:300;
	margin:0;
	color:#396EA0;
}

h3:first-letter {
	font-size:160%;
	vertical-align:middle;
	padding-right:10px;
}

code {
	border:1px solid #ddd;
	border-radius:2px;
	padding:2px 4px;
}

p.instruction {
	margin:0 0 20px 40px;
	font-size:90%;
	line-height:1.6;
}

.dependenciesKey {
	margin-bottom:40px;
}

/** For 600px - 799px */
@media all and (max-width : 799px) {
	nav ul li.library {
		width:33%;
	}
}

/** For 0px - 599px */
@media all and (max-width : 599px) {
	
	#frame {
		padding:0 0.5em 1em;
	}
	p.overview .twoLines {
		display:none;
	}
	p.overview {
		font-size:120%;
	}
	nav, article {
		float:none;
		position:static;
		padding:0;
		margin:0;
		width:auto;
	}
	article {
		border:0;
	}
	article ul {
		padding-left:20px;
	}
	ul.dependencies {
		padding-left:10px;
	}
	nav {
		margin-bottom:20px;
	}
	h3 {
		font-size:110%;
	}
	h3:first-letter {
		font-size:140%;
	}
	p.instruction {
		margin-left:30px;
	}
	nav .description {
		font-size:75%;
	}

	nav ul li.library {
		width:50%;
	}
}